.contenido{
    width: 95%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.contenido_caja1{
    background-color: rgb(10, 88, 139);
    width:50rem;
    height: 85%;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenido_caja1 h3{
    font-size: 2.8rem;
    display: flex;
}
.contenido_caja1 span{
    font-size: 20rem;
    display: flex;
}
.caja{
    background-color: rgb(72, 132, 223);
    width: 40rem;
    display: flex;
    height: 40rem;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    border-radius: 15px;
}
.caja span{
    font-size: 3rem;
    display: flex;
}
.texto{
    width: 33rem;
    height: 3rem;
    display: flex;
}
.tiempo{
    width: 33rem;
    height: 2.5rem;
}
.caja button{
    width: 10rem;
    height: 2.5rem;
}
.comentario{
    width: 33rem;
    height: 10rem;
    text-align: center;
}


@media  (max-width:760px) {
    .contenido{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        height: 75vh;
    }
    .contenido_caja1{
        display: flex;
        width: 40%;
        height: 40%;
    }
    .contenido_caja1 h3{
        font-size: 2rem;
    }
    .contenido_caja1 span{
        font-size: 10rem;
    }
    .caja{
        width: 40%;
        height: 45%;
    }
    .caja span{
        font-size: 2.3rem;
    }
    .texto{
        width: 80%;
        height: 5%;
    }
    .tiempo{
        width: 80%;
        height: 5%;
    }
    .comentario{
        width: 80%;
        height: 20%;
    }
}